body{
    font-family: 'Jomhuria', cursive;
    margin: 0px;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2px;
    margin: 5px;
}
.pink-highlight{
    color: pink;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(90deg, green, gold);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}
.header{
    background-image: url("images 2/header-bg.png");   
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.biography{
    background-image: url("images 2/biography-bg.png")
}
.latest-work{
    padding-bottom: 150px;
    /* text-align: center; */
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.footer{
    text-align: center;
}
.last{
    border-radius: 10px;
    color: white;

}
.container{
    text-align: center;
    background-image: url("images 2/footer-bg.png");
}
.count{
    background-color:pink;
    border-radius: 10px;
    width: 70%;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}
.last{
    text-align: center;
    color: white;
}